/* header formatting for gradient */
header {
    background-color: #3378e6;
    background-image: linear-gradient(45deg, #3378e6 0%, #0b48a9 52%, #101450 90%);
}

/* submit search formatting for gradient */
#submit-btn {
    background-color: #6190dd;
    background-image: linear-gradient(45deg, #6190dd 0%, #0b48a9 52%, rgb(19, 29, 162) 90%);
}

/* previous city buttons formatting for gradient */
.prev-city {
    background-color: #5c7192;
    background-image: linear-gradient(45deg, #5c7192 0%, #506b97 52%, rgb(72, 103, 152) 90%);
}

/* font-size for dates on forecast cards */
.forecast-date {
    font-size: 22px;
}

/* media query for tablets and smaller */
@media screen and (max-width: 900px) {
    .forecast-date {
        font-size: 18px;
    }
    #search-label {
        font-size: 18px;
    }
  }


/* media query for phones and smaller */
@media screen and (max-width: 575px) {
    .forecast-date {
        font-size: 20px;
    }
  }
